link(rel='stylesheet', href='/components/HUD/HUD.css')
script(src='/components/HUD/HUD.js')
#HUD
  #menuContainer
    #menu
      if(currentUser)
        include avatar/avatarSelect
        include object/objectSelect
        include menu/menuSelect
        include background/backgroundSelect
        include dimension/newDimension
      else
        //- include landing/landing
        include auth/auth
      //- include images
  #scrollZones
    #horizontalScrollZones
      #leftZones
        #leftUpScrollZone.scrollZone(direction='upleft')
        #leftScrollZone.scrollZone(direction='left')
        #leftDownScrollZone.scrollZone(direction='downleft')
      #rightZones
        #rightUpScrollZone.scrollZone(direction='upright')
        #rightScrollZone.scrollZone(direction='right')
        #rightDownScrollZone.scrollZone(direction='downright')
    #verticalScrollZones
      #upZones
        #upLeftScrollZone.scrollZone(direction='upleft')
        #upScrollZone.scrollZone(direction='up')
        #upRightScrollZone.scrollZone(direction='upright')
      #downZones
        #downLeftScrollZone.scrollZone(direction='downleft')
        #downScrollZone.scrollZone(direction='down')
        #downRightScrollZone.scrollZone(direction='downright')
