//Socket.io
script(src='./client/scripts/socket.io.min.js')
//Jquery
script(src='./client/scripts/jquery-3.3.1.min.js')
//Phaser
script(src='//cdn.jsdelivr.net/npm/phaser@3.13.0/dist/phaser.min.js')
//FlexBox
link(href='https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css', rel='stylesheet')
//Axios 
script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js")
//Marquee 
script(src='https://cdn.jsdelivr.net/npm/jquery.marquee@1.5.0/jquery.marquee.min.js')
//Main.css
link(rel='stylesheet', href='./styles/main.css')
//Main.js
script(src='./client/scripts/main.js')
  
//Environment
include components/environment
  
//Background
include components/background

//HUD
include components/HUD
