.authContainer{
  width : 100%;
  max-width: 500px;
  height : 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-family: futura;
  color : white;
}

.authLabelContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.authLabel{
  color : white;
  text-shadow: 2px 2px 25px #c83bb2;
  font-size: 75px;
}

.authForm{
  height : 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width : 75%;
}

.authUsername{
  font-size: 20px;
  padding: 15px 10px;
  margin-bottom: 10px;
  border : 5px solid black;
  text-transform: lowercase;
}

.authPassword{
  font-size: 20px;
  padding: 15px 10px;
  margin-bottom: 10px;
  text-transform: lowercase;
  border : 5px solid black;
}

.authBtns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width : 70%;
  margin-bottom: 50px;
}

.authRegister{
  border : 5px solid white;
  background-color: rgb(195, 36, 141);
  padding: 10px;
  width : 100%;
  text-align: center;
  cursor: pointer;
}

.authRegister:hover{
  border : 5px solid yellow;
}

.authLogin{
  border: 5px solid white;
  background-color: #c81c1c;
  padding: 10px;
  width : 100%;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

.authLogin:hover{
  border : 5px solid yellow;
}
