link(href='/components/HUD/auth/auth.css' rel='stylesheet' )
  
script(src='/components/HUD/auth/auth.js')

.authContainer
  .authErrorContainer
    .authError Incorrect Username or Password
  .authLabelContainer
    .authLabel Valoria
  .authForm
    input.authUsername(placeholder="Username")
    input.authPassword(placeholder="Password" type='password')
  .authBtns
    .authLogin(onClick="loginUser()") Login
    .authRegister(onClick="registerUser()") Register
