#HUD{
  width : 100%;
  height : 100%;
  position : absolute;
  z-index: 5;
  pointer-events: none;
}

#menuContainer{
  height : 100%;
  width : 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#menu{
  width : 50%;
  height : 75%;
  background: #5d8c73;
  border : 10px solid #536354;
  border-radius: 10px;
  pointer-events: all;
  display: none;
}

#scrollZones{
  width : 100%;
  height : 100%;
}

#horizontalScrollZones{
  position: absolute;
  width: 100%;
  height : 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#leftScrollZone{
  /*border : 2px solid yellow;*/
  width : 5%;
  height : 100%;
  pointer-events: all;
  cursor: none;
}

#rightScrollZone{
  /*border : 2px solid yellow;*/
  width : 5%;
  height : 100%;
  pointer-events: all;
  cursor: none;
}

#verticalScrollZones{
  width: 100%;
  height : 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
}

#upScrollZone{
  /*border : 2px solid yellow;*/
  width : 100%;
  height : 5%;
  pointer-events: all;
  cursor: none;
}

#downScrollZone{
  /*border : 2px solid yellow;*/
  width : 100%;
  height : 5%;
  pointer-events: all;
  cursor: none;
}
