.thing {
  background-color: #557062;
  width : 300px;
  height : 300px;
  display: none;
  position: absolute;
  z-index: 4;
  top : 50000px;
  left : 50000px;
  font-size : 18px;
  font-family: futura;
  font-weight: bold;
  flex-direction: column;
  flex: auto;
  justify-content: space-between;
  align-items: center;
  color : white;
}

.prototype{
  display: none;
}

.livechatHeader{
  background-color: #5d8c73;
  width : 100%;
  text-align : center;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.livechatTextAreaContainer{
  width: 100%;
  padding: 5px 0px;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.livechatMessageContainer{
  width: 95%;
  max-height: 200px;
  -webkit-flex: 1 1 auto;
  overflow-y: auto;
}

.livechatMessage{
  width : 100%;
  height : 25px;
  display: flex;
  flex-direction: row;
}

.liveChatSender{
  font-weight: bold;
  margin-right: 5px;
}

.livechatText {
  font-weight: normal;
}

.livechatTextArea{
  width: 80%;
}

.livechatSubmitMessage{
  width: 20%;
  border : 3px solid white;
  text-align: center;
}
