link(rel='stylesheet' href='/components/dimension/thing/livechat/livechat.css')
script(src='/components/dimension/thing/livechat/livechat.js')
.livechat.prototype
  .livechatTop
    .livechatHeader(contenteditable="true") Live Chat
    .livechatMessageContainer
  .livechatBottom
    .livechatTextAreaContainer
      textarea.livechatTextArea(placeholder="Type a message" onfocus="toggleUserIsTyping()" onblur="toggleUserIsTyping()")
      .livechatSubmitMessage Send
  
