//dimension.css
link(rel='stylesheet', href='/components/dimension/dimension.css')
//dimension.js
script(src='/components/dimension/dimension.js')
//user.js
script(src='/components/dimension/user/user.js')
//object.js
script(src='/components/dimension/object/object.js')
//thing.js
script(src='/components/dimension/thing/thing.js')
  
.dimension
  .things
    include thing/livechat/livechat
    include thing/door/door
    .thing.prototype.square
      input.thingColorInput
  .users
    #thisUser
      img#thisUserAvatar
  .objects
