//dimension.css
link(rel='stylesheet', href='/components/dimension/dimension.css')
//dimension.js
script(src='/components/dimension/dimension.js')
//user.js
script(src='/components/dimension/user/user.js')  
//object.js
script(src='/components/dimension/object/object.js')

.dimension
  include thing/thing
  .environment
    .movingEnvironment
      .things
      .users
      .objects
    .fixedEnvironment
      .fixedThings
  .voiceStreams
    audio.voiceStream(autoplay="autoplay")
      source
      
  #thisUser
    img#thisUserAvatar
