//dimension.css
link(rel='stylesheet', href='/components/dimension/dimension.css')
//dimension.js
script(src='/components/dimension/dimension.js')
//user.js
script(src='/components/dimension/user/user.js')
//object.js
script(src='/components/dimension/object/object.js')
//thing.js
script(src='/components/dimension/thing/thing.js')

.dimension
  if !doorRender
    include thing/livechat/livechat
    .things
      .thing.prototype.square
        .thingText Welcome to Valoria!
        input.thingColorInput
    .users
    .objects
  #thisUser
    img#thisUserAvatar
  include thing/door/door
