img{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.dimension {
  width : 100%;
  height : 100%;
  position : absolute;
  z-index: 4;
  cursor: none;
  transform: translateZ(0);
  display: flex;
  /*left : -50000;
  top : -50000;*/
  background-position: 0px 0px;
  background-image: url("https://i.imgur.com/TbwEvfU.png");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overscroll-behavior-y:none;
}

.environment{
  position: absolute;
}

#thisUser{
  display: none;
  width : 150px;
  height : 150px;
  position: absolute;
  pointer-events: none;
  z-index: 7;
}

#thisUserAvatar{
  max-height: 150px;
  max-width: 150px;
  z-index: 7;
  position: absolute;
}

.user{
  width : 150px;
  height : 150px;
  position: absolute;
  pointer-events: none;
  z-index: 6;
}

.userAvatar{
  max-height: 150px;
  max-width: 150px;
  z-index: 6;
  position: absolute;
}

.object{
  max-width : 50px;
  max-height : 50px;
  position: absolute;
  top : 50;
  left : 50;
}

.thing{
  width : 100px;
  height: 100px;
  background-color: #557062;
  position: absolute;
  top : 50000px;
  left : 50000px;
  display: none;
  font-size: 20px;
  color: white;
  font-family: futura;
  font-weight: bold;
  text-align: center;
  background-size: cover;
}

.square{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.thingToolbox{
  display: none;
  position: absolute;
  background-color: #ECECEC;
  flex-direction: column;
  top : -30px;
  min-width: 325px;
  width : 100%;
  color: black;
}

.thingTools{
  width : 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sp-replacer{
  width : 33%;
  border : 2px solid black;
}

.sp-rep-label{
  margin-top: -3px;
  color : black;
}

.thingMediaBtn{
  width : 33%;
  border : 2px solid black;
  cursor: pointer;
}

.thingMediaBtn:hover{
  border : 2px solid yellow;
}

.thingDeleteBtn{
  width : 33%;
  border : 2px solid black;
  cursor: pointer;
}

.thingDeleteBtn:hover{
  border : 2px solid yellow;
}

.thingMediaContainer{
  width : 100%;
  height : 100px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor : default;
}

.thingImageForm{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width : 100%;
  font-size: 14px;
}

.thingImageInput{
  width : 50%;
  padding : 5px;
}

.thingImageInputBtn{
  width : 35%;
  border: 2px solid black;
  padding : 5px;
  cursor: pointer;
}
.thingImageInputBtn:hover{
  border : 2px solid yellow;
}

.thingVideoForm{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width : 100%;
  font-size: 14px;
}

.thingVideoInput{
  width : 50%;
  padding : 5px;
}

.thingVideoInputBtn{
  width : 35%;
  border : 2px solid black;
  padding : 5px;
  cursor: pointer;
}
.thingVideoInputBtn:hover{
  border : 2px solid yellow;
}

.thingVideo{
  display: none;
  width: 90%;
  height :85%;
  border: 0px;
}

.music{
  display: none;
}

.terminal{
  pointer-events: all;

}
