link(href='/components/HUD/landing/landing.css' rel='stylesheet' )
  
script(src='/components/HUD/landing/landing.js')

.landingContainer
  .landingHeader Welcome to Valoria
  .landingContent
    |  The Interdimensional Platform
