//thing.css
link(href='/components/dimension/thing/thing.css' rel='stylesheet')
//thing.js
script(src='/components/dimension/thing/thing.js')

include livechat/livechat
include text/text
include code/code
include door/door
include console/console

.thing.prototype
  .thingToolbox
    .thingTools
      input.thingColorInput.partOfThing
      .thingMediaBtn.partOfThing Media
      .thingSettingsBtn.partOfThing Settings
    .thingMediaContainer
      .thingImageForm
        input.thingImageInput.partOfThing(placeholder="Link to Image")
        .thingImageInputBtn.partOfThing Set to Image
      .thingVideoForm
        input.thingVideoInput.partOfThing(placeholder="Link to Video")
        .thingVideoInputBtn.partOfThing Embed Video
      .thingAudioForm
        input.thingAudioInput.partOfThing(placeholder="Embed Audio Link")
        .thingAudioInputBtn.partOfThing Embed Audio
    .thingSettingsContainer
      .thingPrivateForm
        input.thingPrivateInput.partOfThing(type="checkbox")
        .thingPrivateLabel.partOfThing Thing is Private
      .thingDeleteBtn.partOfThing Delete Thing
  iframe.thingVideo.partOfThing
  iframe.thingAudio.partOfThing(allow="autoplay")
