link(rel='stylesheet' href='/components/dimension/thing/code/code.css')
script(src='/components/dimension/thing/code/code.js')
script(src='/components/dimension/thing/code/test.js')

.code.prototype
  .codeContainer
