.code{
  width : 100%;
  height:100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.codeContainer{
  width: 90%;
  height: 90%;
  font-size: 15px;
  text-align: left;
  cursor: text;
}

.CodeMirror{
  width: 100%;
  height: 100%;
}

#code0{
  display: flex;
}
