link(href='/components/HUD/thing/thingSelect.css' rel='stylesheet')
script(src='/components/HUD/thing/thingSelect.js')

.thingSelectContainer
  .thingSelectOptions
    #squareThingSelect.thingSelection
      .thingSelectionImgContainer
        img.thingSelectionImg
      .thingSelectionLabelContainer
        .thingSelectionLabel Spawn a Square
    #livechatThingSelect.thingSelection
      .thingSelectionImgContainer
        img.thingSelectionImg
      .thingSelectionLabelContainer
        .thingSelectionLabel Spawn a Livechat
    #dimensionalDoorThingSelect.thingSelection
      .thingSelectionImgContainer
        img.thingSelectionImg
      .thingSelectionLabelContainer
        .thingSelectionLabel Spawn a Dimensional Door
    if currentUser.admin
      #codeThingSelect.thingSelection
        .thingSelectionImgContainer
          img.thingSelectionImg
        .thingSelectionLabelContainer
          .thingSelectionLabel Spawn a Code
      #consoleThingSelect.thingSelection
        .thingSelectionImgContainer
          img.thingSelectionImg
        .thingSelectionLabelContainer
          .thingSelectionLabel Spawn a Console
