link(rel='stylesheet' href='styles/livechat.css')
script(src='scripts/livechat.js')
.livechat.thing.prototype
  .livechatHeader Live Chat
  .livechatMessageContainer
    //- .livechatMessage 
    //-   .livechatSender
    //-   .livechatText 
  .livechatTextAreaContainer
    textarea.livechatTextArea(placeholder="Type a message")
    .livechatSubmitMessage Send
  
