link(rel='stylesheet' href='/components/dimension/thing/console/console.css')
script(src='/components/dimension/thing/console/console.js')

.console.prototype
  .consoleContainer
    .consolePrefix V$
    .consoleContent(contenteditable="true")
