//environment.css
link(rel='stylesheet', href='client/styles/environment.css')
//environment.js
script(src='client/scripts/environment.js')
  
#environment
  .users
    #thisUser
      img#thisUserAvatar(src='https://storage.googleapis.com/valoria/main/doggy.gif')
      img#thisUserScroll(src='https://storage.googleapis.com/valoria/rocket.gif')
  .memes
    //- img.myMeme.meme(draggable='false' src='https://storage.googleapis.com/valoria/heart.png')
  
