//environment.css
link(rel='stylesheet', href='/client/styles/environment.css')
//environment.js
script(src='/client/scripts/environment.js')
  
#environment
  .things
  .users
    #thisUser
      img#thisUserAvatar
  .objects
  
