//environment.css
link(rel='stylesheet', href='client/styles/environment.css')
//environment.js
script(src='client/scripts/environment.js')
  
#environment
  .users
    #thisUser
      img#thisUserAvatar
      //- img#thisUserScroll
  .objects
  
