//environment.css
link(rel='stylesheet', href='/client/styles/environment.css')
//environment.js
script(src='/client/scripts/environment.js')
  
#environment
  .things
  .users
    #thisUser
      img#thisUserAvatar
  .objects
  .dimensionalDoors
    //- if(dimension.name == 'main')
    //-   iframe.dimensionalDoor(src='http://localhost:3000/dimension/fruit/door' id="fruit")
    //- else
    //-   iframe.dimensionalDoor(src='http://localhost:3000/dimension/main/door' id="main")
