link(rel='stylesheet', href='./styles/HUD.css')
script(src='./scripts/HUD.js')
#HUD
  #menuContainer
    #menu
      include images
  #scrollZones
    #horizontalScrollZones
      #leftScrollZone.scrollZone(direction='left')
      #rightScrollZone.scrollZone(direction='right')
    #verticalScrollZones
      #upScrollZone.scrollZone(direction='up')
      #downScrollZone.scrollZone(direction='down')
