//images.css 
link(href='client/styles/images.css' rel='stylesheet')
//images.js
script(src='client/scripts/images.js')
  
#imagesContainerHUD
  
  #imagesContainer
    .image
      img.imageSrc(src='https://storage.googleapis.com/valoria/heart.png')
    .image
      img.imageSrc(src='https://storage.googleapis.com/valoria/doggy.gif')
  
  form#uploadImageForm(action="/upload" method="post" enctype="multipart/form-data")
    #uploadImageButton
      label#uploadImageLabel Upload
        input#uploadImageInput(hidden type='file' name='upload' onChange="uploadFile()")
