link(href='styles/menuSelect.css' rel='stylesheet')
script(src='scripts/menuSelect.js')

.menuSelectContainer
  .menuOptions
    #avatarScreenSelect.menuSelection
      .menuSelectionImgContainer
        img.menuSelectionImg
      .menuSelectionLabelContainer
        .menuSelectionLabel Change Avatar
    #objectScreenSelect.menuSelection
      .menuSelectionImgContainer
        img.menuSelectionImg
      .menuSelectionLabelContainer
        .menuSelectionLabel Change Object
    #backgroundScreenSelect.menuSelection
      .menuSelectionImgContainer
        img.menuSelectionImg
      .menuSelectionLabelContainer
        .menuSelectionLabel Change Background
    #newDimensionScreenSelect.menuSelection
      .menuSelectionImgContainer
        img.menuSelectionImg
      .menuSelectionLabelContainer
        .menuSelectionLabel Create New Dimension
  .logoutBtn Log Out
