link(href='styles/menuSelect.css' rel='stylesheet')
script(src='scripts/menuSelect.js')

.menuSelectContainer
  #avatarScreenSelect.menuSelection
    img.menuSelectionImg
    .menuSelectionLabelContainer
      .menuSelectionLabel Change Avatar
  #objectScreenSelect.menuSelection
    img.menuSelectionImg
    .menuSelectionLabelContainer
      .menuSelectionLabel Change Object
  #backgroundScreenSelect.menuSelection
    img.menuSelectionImg
    .menuSelectionLabelContainer
      .menuSelectionLabel Change Background
