link(href='/components/HUD/menu/menuSelect.css' rel='stylesheet')
script(src='/components/HUD/menu/menuSelect.js')

.menuSelectContainer
  .menuOptions
    #avatarScreenSelect.menuSelection
      .menuSelectionImgContainer
        img.menuSelectionImg
      .menuSelectionLabelContainer
        .menuSelectionLabel Change Avatar
    #objectScreenSelect.menuSelection
      .menuSelectionImgContainer
        img.menuSelectionImg
      .menuSelectionLabelContainer
        .menuSelectionLabel Change Object
    #thingScreenSelect.menuSelection
      .menuSelectionImgContainer
        img.menuSelectionImg
      .menuSelectionLabelContainer
        .menuSelectionLabel Spawn a Thing
    #textScreenSelect.menuSelection
      .menuSelectionImgContainer
        img.menuSelectionImg
      .menuSelectionLabelContainer
        .menuSelectionLabel Spawn Text
    if dimension.ownerChooseBackground
      if currentUser.username == dimension.owner
        #backgroundScreenSelect.menuSelection
          .menuSelectionImgContainer
            img.menuSelectionImg
          .menuSelectionLabelContainer
            .menuSelectionLabel Change Background
    else
      #backgroundScreenSelect.menuSelection
        .menuSelectionImgContainer
          img.menuSelectionImg
        .menuSelectionLabelContainer
          .menuSelectionLabel Change Background
    #newDimensionScreenSelect.menuSelection
      .menuSelectionImgContainer
        img.menuSelectionImg
      .menuSelectionLabelContainer
        .menuSelectionLabel Create New Dimension
  .menuBtns
    .logoutBtn Log Out
    .closeMenuBtn Close Menu
